# Entornos Virtuales
venv/
env/
.env

# Base de Datos de Memoria Persistente (SQLite + Optuna)
# Contiene el conocimiento de las mejores recetas aprendidas
ai/preprocessing/optuna_memory.db

# Archivos de caché de Python (Archivos temporales basura)
__pycache__/
*.pyc

# Imágenes residuales o de prueba (si llegas a guardar imágenes locales)
temp_images/
